<h1>{{title}}</h1>
<nav>
  <a routerLink="/register">Rejestracja</a>
  <a routerLink="/transactions">Transakcje</a>
  <a routerLink="/new-transaction">Nowa transakcja</a>
</nav>
<router-outlet></router-outlet>
